.toast {
  position: fixed;
  left: 10px;
  bottom: 10px;

  background: #222;
  color: #fff;
  padding: 12px 24px;
  border-radius: 8px;

  pointer-events: none;

  z-index: 9999;
  font-size: 1rem;
}

.hide {
  transition: opacity 0.3s, transform 1s;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10em);
}
