.mainCont {
  width: 100%;
  height: 100%;
  background: #00000010;
  display: flex;
}
.imgsCont {
  width: 50%;
  display: flex;
  padding: 2em;

  img {
    object-fit: contain;
    padding: 1em;
    border-radius: 0.5em;
    aspect-ratio: 1/1;
    width: 85%;
  }
  div {
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    gap: 0.8em;

    img {
      width: 100%;
      cursor: pointer;

      padding: 0.4em;
    }
  }
  .active {
    border: 2px solid orangered;
    box-shadow: 0 0 5px var(--primary);
    height: fit-content;
  }
}

.infosCont {
  width: 50%;
  display: flex;
  padding: 2em;
  flex-direction: column;
  gap: 1em;
  font-size: 1.2rem;
  .UID {
    display: flex;
    justify-content: space-between;
    background-color: #00000044;
    padding: 0.5em;
    user-select: none;
    cursor: pointer;
    border-radius: 0.4em;

    &:hover {
      background-color: #0000006c;
    }
  }
  .subCont {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    gap: 0.5em;
    div {
      display: flex;
      gap: 0.7em;
      flex-wrap: wrap;
    }
    span {
      border: 1px solid black;
      padding: 0.1em;
      border-radius: 0.2em;
      text-transform: capitalize;
      cursor: pointer;
      user-select: none;
      &:hover {
        background: #0000002a;
      }
    }
    h4 {
      font-weight: 500;
    }
  }

  h1 {
    font-size: 1.8rem;
  }
  .priceCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      font-size: 1.7rem;
      &:hover {
        color: #007bff;
      }
    }
    div {
      width: 50%;
      display: flex;
      justify-content: space-between;
    }
    button {
      border: 2px black solid;
      padding: 0.2em 0.5em;
      border-radius: 0.4em;
      background-color: #007bffa1;
      user-select: none;
      cursor: pointer;
      font-weight: 500;
      &:hover {
        background-color: #007bff;
      }
      &:active {
        transform: scale(1.01);
      }
    }
  }
}

@media (max-width: 900px) {
  .mainCont {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    flex-direction: column;
  }
  .imgsCont {
    width: 80%;
 
   
    margin: 0 auto;

    img {
      object-fit: contain;
      padding: 1em;
      border-radius: 0.5em;
      aspect-ratio: 1/1;
      width: 80%;
    }
    div {
      padding: 0.3em;
      display: flex;
      flex-direction: column;
      gap: 0.8em;

      img {
        width: 100%;
        cursor: pointer;

        padding: 0.4em;
      }
    }
    .active {
      border: 2px solid orangered;
      box-shadow: 0 0 5px var(--primary);
    }
  }

  .infosCont {
    width: 100%;

    .UID {
      display: flex;
      width: 100%;
      font-size: 16px;
    }
    .subCont {
      div {
        display: flex;
        gap: 0.7em;
      }
      span {
        border: 1px solid black;
        padding: 0.1em;
        border-radius: 0.2em;
        text-transform: capitalize;
        cursor: pointer;
        user-select: none;
        &:hover {
          background: #0000002a;
        }
      }
      h4 {
        font-weight: 500;
      }
    }

    h1 {
      font-size: 1.5rem;
    }
    .priceCont {
      flex-direction: column;
      h2 {
        font-size: 1.7rem;
        &:hover {
          color: #007bff;
        }
      }
      div {
        width: 100%;
      }
      button {
        border: 2px black solid;
        padding: 0.2em 0.5em;
        border-radius: 0.4em;
        background-color: #007bffa1;
        user-select: none;
        cursor: pointer;
        font-weight: 500;
        &:hover {
          background-color: #007bff;
        }
        &:active {
          transform: scale(1.01);
        }
      }
    }
  }
}
@media (max-width: 500px) {
  .mainCont {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    flex-direction: column;
  }
  .imgsCont {
    width: 100%;
    display: flex;
    padding: 2em;
    height: auto;

    img {
      object-fit: contain;
      padding: 1em;
      border-radius: 0.5em;
      aspect-ratio: 1/1;
      width: 80%;
    }
    div {
      padding: 0.3em;
      display: flex;
      flex-direction: column;
      gap: 0.8em;

      img {
        width: 100%;
        cursor: pointer;

        padding: 0.4em;
      }
    }
    .active {
      border: 2px solid orangered;
      box-shadow: 0 0 5px var(--primary);
    }
  }

  .infosCont {
    width: 100%;

    .UID {
      display: flex;
      width: 100%;
      font-size: 16px;
    }
    .subCont {
      div {
        display: flex;
        gap: 0.7em;
      }
      span {
        border: 1px solid black;
        padding: 0.1em;
        border-radius: 0.2em;
        text-transform: capitalize;
        cursor: pointer;
        user-select: none;
        &:hover {
          background: #0000002a;
        }
      }
      h4 {
        font-weight: 500;
      }
    }

    h1 {
      font-size: 1.5rem;
    }
    .priceCont {
      flex-direction: column;
      h2 {
        font-size: 1.7rem;
        &:hover {
          color: #007bff;
        }
      }
      div {
        width: 100%;
      }
      button {
        border: 2px black solid;
        padding: 0.2em 0.5em;
        border-radius: 0.4em;
        background-color: #007bffa1;
        user-select: none;
        cursor: pointer;
        font-weight: 500;
        &:hover {
          background-color: #007bff;
        }
        &:active {
          transform: scale(1.01);
        }
      }
    }
  }
}
